body {
    /* background-image: url('asset/bg_cv_driver.png') no-repeat;
    background-size: cover; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-boy {
    margin-bottom: 180px;
}

table.data-master {
    /* padding-top: 180px; */
    padding-bottom: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

table.data-master tr td:nth-child(2) {
    padding-left: 25px;
}

.crew-container .crew{
    padding: 0.5px;
    height: 206.2px;
    width: 100%;
    background-image: url('asset/bg_putih.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.crew-container .image-crew {
    width: 170px;
    height: 170px;
    float: left;
    border-radius: 25px;
    margin-left: 25px;
    margin-top: 18px;
}

.crew-container .driver-data {
    height: 150px;
    margin-top: 10px;
    margin-right: 30px;
    float: right;
}

.crew-container .driver-data table{
    color: black;
    margin: 15px;
}

.crew-container .driver-data table td{
    padding-bottom: 10px;
}

.crew-container .driver-data table tr td:nth-child(2){
    padding-left: 10px;
}